$primary: #1f1f1f;       // Preto absoluto
$secondary: #f77c3e;     // Dourado puro

$success: #a2cca5;    // Preto 80%
$danger: #faba66;     // Preto 60%
$warning: #fce185;    // Preto 40%
$info: #373737;       // Preto 20%

$light: #ffffff;         // Preto bem suave (quase cinza)
$dark: #000000;          // Reforço do preto absoluto



@import "bootstrap/scss/bootstrap";